.minesweeper {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    border: 2px solid black;
    padding: 10px;
    border-radius: 5px;
}

.minesweeper-title {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
}

.minesweeper-title .left-image,
.minesweeper-title .right-image {
    width: 30px;
    height: 30px;
    margin: 10px;
}

.board-head {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
}

.board-head .level {
    font-size: 1.2em;
}

.board-head .center {
    display: flex;
    gap: 20px;
    align-items: center;
}

.board-head .flags,
.board-head .timer,
.board-head .reset {
    display: flex;
    align-items: center;
}

.board-head .flags img,
.board-head .timer img,
.board-head .reset img {
    width: 30px;
    height: 30px;
    margin-right: 5px;
}

.reset {
    font-size: 1.5em;
    border: none;
    background: none;
    cursor: pointer;
}

/* Estilos para o header no nível fácil */
.header-easy {
    width: 500px;
    height: 500px;
}

.credits-easy {
    margin-top: 350px;
    font-size: 12px;
    text-align: center;
}

/* Estilos para o header no nível médio */
.header-medium {
    width: 700px;
    height: 720px;
}

.credits-medium {
    margin-top: 585px;
    font-size: 13px;
    text-align: center;
}

/* Estilos para o header no nível dificil */
.header-hard {
    width: 1100px;
    height: 750px;
}

.credits-hard {
    margin-top: 600px;
    font-size: 14px;
    text-align: center;
}

