.cell {
    width: 30px;
    height: 30px;
    background-color: #097818;
    border: 2px solid #116e11;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    cursor: pointer;
    user-select: none;
}

.cell.even{
    filter: brightness(80%);
}

.cell.open {
    background-color: #be9548;
    border-color: #947936;
}

.mine-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.flag-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.cell:hover {
    filter: brightness(85%);
}

.cell.open:hover {
    filter: brightness(85%);
}
