.game-over-modal {
    right: 20px; 
    background: rgba(0, 0, 0, 0.5); 
    padding: 5px; 
    border-radius: 10px;
    z-index: 1000; 
}

.game-over-content {
    background: white;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
}

.game-over-content h2 {
    margin-bottom: 10px;
    font-size: 18px;
    color: #333;
}

.game-over-modal-easy {
    margin-top: 300px;
}

.game-over-modal-medium {
    top: 150px;
}

.game-over-modal-hard {
    top: 200px;
}
