.game-over-modal {
    background: rgba(0, 0, 0, 0.5); 
    padding: 5px; 
    border-radius: 10px;
    z-index: 1000; 
    position: relative;
}

.game-over-content {
    background: white;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    width: 200px;
}

.game-over-content h2 {
    margin-bottom: 10px;
    font-size: 18px;
    color: white;
}

.modal-ganhar {
    background-color: #7FFF7F;
}

.modal-perder {
    background-color: #FF6961;
}

