body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    width:100%;
    background-color: #f8f9fa;
}

.board {
    display: grid;
    gap: 2px;
    position:fixed;
    transform: translate(-50%, -50%);
}

/* Estilos para o tabuleiro no nível fácil */
.board-easy {
    grid-template-columns: repeat(9, 30px);
    grid-template-rows: repeat(9, 30px);
    top: 56%;
    left: 50%;
}

/* Estilos para o tabuleiro no nível médio */
.board-medium {
    grid-template-columns: repeat(16, 30px);
    grid-template-rows: repeat(16, 30px);
    top: 56%;
    left: 50%;
}

/* Estilos para o tabuleiro no nível difícil */
.board-hard {
    grid-template-columns: repeat(30, 30px);
    grid-template-rows: repeat(16, 30px);
    top: 55%;
    left: 50%;
}
